.wrapper {
    width: 100%;
    margin: 0 auto;
}
    .header {
        height: 140px;
        padding: 16px;
        background: plum;
        border: 1px solid indigo;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .header-item{
        width: 33%;
        height: 100px;
        border: 1px solid darkslategray;
        background: skyblue;
    }
