.wrapper {
    height: auto;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        max-width: 992px;
    }

    .header {
        height: 140px;
        padding: 16px;
        background: plum;
        border: 1px solid indigo;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .header-item{
        width: 60px;
        height: 60px;
        border: 1px solid darkslategray;
        background: skyblue;
    }
}